@charset "utf-8";
/* CSS Document */

#CLD{
	font-size:12px;
	color:#666
}
.cal_day_NO td {
    color: #666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.sunday td {
    background-color: #d3e9f3;
    font-family: SimHei;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
td.weekend_ms {
    background-color: #f60;
    color: #fff;
}