
/*－－－top的CSS－－－*/

.logo1 {
    display: inline;
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}
.icon { float:left; margin-left:40px; display:block; height:50xp;}
.icon ul {
  font-size:12px; 
}
.icon ul li {
    cursor: pointer; line-height:60px;
    float: left;
    height: 22px; height:60px;

   color:#FFF;
}
.icon ul li i{ vertical-align:middle;}
.icon ul li a i{color:#666;}
.icon ul li  a{ color:#666; font-size:12px;font-family: "微软雅黑"; display:block; padding:0 10px;}
.icon ul li a:hover{
	text-decoration:none; background-color:#0f606e; color:#FFF;
}
.icon ul li a:hover i{
	 color:#FFF;
}
.user{ float:right; margin-right:50px;}

.user ul li{ float:left; line-height:60px; margin-left:30px; font-size:12px; color:#666;}
.top{   background-color: #fff;
    border-bottom: 1px solid #49a1b0;
    box-shadow: 0 0 5px 3px #999;
    display: block;
    height: 60px;
    left: 0;

    top: 0;
    width: 100%;
    z-index: 10;
	}
.logo1 h1{ color:#1a6101;}	
.title{ float:left; margin:0 0 0 40px; line-height:40px; color:#FFF; font-size:12px; color:#CCC; line-height:50px;font-family: "微软雅黑"; font-weight:bold;}

.leftsidebar_box{
    font-family: "微软雅黑";  background-color: #49a1b0;
    background-image: -moz-linear-gradient(center top , #49a1b0, #0f606e);
background:-webkit-gradient(linear,50% 0%,50% 100%,from(#49a1b0),to(#0f606e));
background:-webkit-linear-gradient(center top , #49a1b0, #0f606e);
background:-o-linear-gradient(center top , #49a1b0, #0f606e); 
    display: block;
    height: 100% !important;
    left: 0;
    overflow: visible !important;
    position: fixed;
    width: 165px;
    z-index: 999;}
.leftsidebar_box dl{ color:#fff;
    color: #ffffff !important; margin-bottom:5px; border-bottom:5px; }
.leftsidebar_box dl dt{ height:90px; line-height:90px;color:#fff; font-size:16px; text-align:left;padding-left:18px; }
.leftsidebar_box dl dt:hover{ background-color:#0f606e;}
.leftsidebar_box .hover{ background-color:#16475b;}
.leftsidebar_box .hover i{ color:#FFF;}
.leftsidebar_box dl dd a.now{ color:#fff !important; font-weight:bold;}
.leftsidebar_box dl dt i{ color: #fff; width:23px;}
.leftsidebar_box dl dt b{ margin-left:5px;}
.leftsidebar_box dl dd{ height:40px;line-height:40px;color:#000;font-size:14px;text-align:left; padding-left:40px; margin:5px 0; }
.leftsidebar_box dl dd:hover{ background-color:#0f606e; color:#FFF;  }
.leftsidebar_box dl dd a{  text-decoration:none;color: #ebfcff;}
.leftsidebar_box dl dd:hover a{color: #FFF;}

